*{
  margin: 0;
  padding: 0;
}
.navbar{
  height: 50px;
  background-color: rgba(110, 85, 32, 0.12);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  font-size: 20px;
  font-weight: bold;
}

.list{
  list-style: none;
  display:flex;
  align-items: center;
}

.listitem{
  margin-right:20px;
  font-weight: 500;
  cursor: pointer;
}

.avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}